fastapi == 0.115.*
uvicorn == 0.34.*
beanie == 1.29.*
python-dotenv == 1.1.*
# 1.13.0b4 has a update supporting configurable timeouts on AzureDeveloperCredential
# https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/identity/azure-identity/CHANGELOG.md#1130b4-2023-04-11
azure-identity == 1.23.0
azure-keyvault-secrets == 4.9.*
opentelemetry-instrumentation-fastapi == 0.54b1
azure-monitor-opentelemetry-exporter == 1.0.0b36
